<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 개발 중인 BE 서버가 아직 http(평문)라서 debug 빌드에서만 cleartext를 허용한다.
         release(main)는 usesCleartextTraffic=false이므로 tools:replace로 덮어쓴다. -->
    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic" />

</manifest>
